/* .home img {
    width: 100%;
    height: 650px;
     position: absolute; 
} */

.home {
  background: url("../../../public/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
}
.texth1 {
    height: 100px;
    color: #fff;
    text-align: center;
    position: relative;
    margin-right: 100px;
    padding-top: 150px;
}
.texth3{
    line-height: 40px;
    width: 800px;
    margin-left: 350px;
    position: relative;
  

}
.about img {
 
 
  height: 300px;
  width:23%;
  margin-left: 260px;
  position: absolute;
  margin-top: 460px;
  /* border-radius: 0 0 100% 100%/0 0 100% 100%; */

  }

  .about2 img {
    height: 190px;
  width:12.1%;
  margin-left: 120px;
  position: absolute;
  margin-top: 515px;
  }
  /* .aboutbgcolor {
   background-color: #bd3300;
   height: 460px;
   width: 100%;
   margin-top: -140px;
  } */

  
  .headingh1 {
    height: 10px;
    width: 350px;
    position: relative;
    color: #bd3300;
    padding-top: 90px;
    margin-left: 650px;
}

  .parah3 {
    height: 100px;
    width: 650px;
    margin-top: 320px;
    margin-left: 770px;
    color: #bd3300;
    
  }
.back img {
  width: 500px;
  height: 420px;
  padding-top: -150px;
  border-radius: 10% 10% 10% 10%;
  box-shadow: 0 4px 4px 4px #d5d5d5;
  margin-right: 100px;
  float: right;
}

.coursepagebg img {
  height: auto;
  width: 100%;
  position: absolute;
}

.coursename {
   height: 10px;
   width: 300px;
   position: relative;
   color: #bd3300;
   margin-left: 60px;
   margin-bottom: 340px;
}

.ourcourseheading{
   color: #bd3300;
   margin-left: 120px;
}

.coursename a {
   color: #bd3300;
   
}


/* .maincoursepage {
   background-color: red;
   height: 300px;
} */

.flex-container {
   display: flex;
   
 }
 
 .flex-container > div {
   background-color: #fff;
   margin: 10px;
   padding: 20px;
   font-size: 30px;
   height: 500px;
   width: 300px;
   border-radius: 10px;
   box-shadow: #b1b1b1 3px 3px 15px;
   margin-left: 121px;
 }

.course1 img{
   height: 250px;
   width: 300px;
  
}
.course2 img{
   height: 250px;
   width: 300px;
  
}
.course3 img{
   height: 250px;
   width: 300px;
  
}

.coursecontent1 {
   width: 200px;
   height: 20px;
  margin-top: 300px;
  color: #bd3300;
}

.coursecontent2 {
   width: 200px;
   height: 20px;
  margin-top: 300px;
  color: #bd3300;
}

.coursecontent3 {
   width: 200px;
   height: 20px;
  margin-top: 300px;
  color: #bd3300;
}

/* .ourstudentdetails {
  width: 400px;
  height: 60px;
}

.studentimage img{
  height: 300px;
  width: 300px;
  margin-top: 0px;

}

.studentdetails1 {
  width: 200px;
  height: 20px;
 margin-top: 50px;
}


.flex-container1 {
  background-color: #f1f1f1;
   margin: 10px;
   padding: 20px;
   font-size: 25px;
   float: left;
   height: 600px;
   width: 300px;
   border-radius: 10px;
   box-shadow: #b1b1b1 5px 5px 10px;
   margin-left: 30px;
}

.studentimage2 img{
  height: 300px;
  width: 300px;
  margin-top: 0px;

}

.studentdetails2 {
  width: 200px;
  height: 20px;
 margin-top: 50px;
}

.flex-container2 {
  background-color: #f1f1f1;
   margin: 10px;
   padding: 20px;
   font-size: 25px;
   float: right;
   height: 600px;
   width: 300px;
   border-radius: 10px;
   box-shadow: #b1b1b1 5px 5px 10px;
   margin-right: 700px;
}

.studentimage3 img{
  height: 300px;
  width: 300px;
  margin-top: 0px;

}

.studentdetails3 {
  width: 200px;
  height: 20px;
 margin-top: 50px;
}

.flex-container3 {
  background-color: #f1f1f1;
   margin: 10px;
   padding: 20px;
   font-size: 25px;
   float: right;
   height: 600px;
   width: 300px;
   border-radius: 10px;
   box-shadow: #b1b1b1 5px 5px 10px;
   margin-top: -650px;
   margin-right: 250px;
  } */

.testimonialcontent {
  color: #bd3300;
  width: 400px;
  margin-top: 350px;
  position: absolute;
  margin-left: 120px;
}
  .testimonialheading {
    width: 30%;
    color: #bd3300;
    margin-left: 120px;
  }

  .testimonialimage img{
    height: 350px;
    width: 30%;
    margin-left: 120px;
  }

  .studentfeedbackimage1 img {
    height: 130px;
    width: 190px;
    margin-left: 700px;
    margin-top: -100px;
   position: absolute;
  }

  .studentfeedback1 {
      height: 100px;
      width: 200x;
      margin-left: 990px;
      margin-top: -100px;
      position: absolute;
      color: #bd3300;
  }

  .studentfeedbackimage2 img {
    height: 140px;
    width: 190px;
    margin-left: 700px;
    margin-top:  70px;
 position: absolute;
 }

 .studentfeedback2 {
      height: 100px;
      width: 200x;
     margin-left: 990px;
     margin-top: 100px;
     position: absolute;
     color: #bd3300;
 }

 .studentfeedbackimage3 img  {
  height: 140px;
  width: 190px;
  margin-left: 700px;
 margin-top:  250px;
 position: absolute;
}

.studentfeedback3 {
    height: 100px;
    width: 200x;
   margin-left: 990px;
   margin-top: 300px;
   color: #bd3300;
}

.contactheading{
  padding-left: 40px;
  color: #bd3300;
  margin-top: 150px;

  width: 90%;
  height: 450px;
}
.form{
  margin-top: -350px;
  width: 50%;
  height: 390px;
  background-color: #bd3300;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
input[type=text],
select,
textarea,number {
  width: 100%;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #fbf7f5;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #f3efed;
}
.container {
  border-radius: 8px;
  background-color: #fff;
  padding: 15px;
}
button[type=submit]:hover {
  background-color: #fff;
}
button[type=submit] {
  background-color: #fff;
  color: #bd3300;
  padding: 12px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.contactusimage{
  height: 100px;
  width: 100px ;
  margin-top: -390px;
  margin-left: 400px;
  position: absolute;

}